html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
    background-color: #343d45;
    color: #bbb;
}

a, .btn-link {
    color: #0366d6;
}

input {
    .form-control {
        background: none;
        border: none;
        border-radius: 0;
        border-bottom: 1px solid rgba(255, 255, 255, .1);
        color: rgba(255, 255, 255, .3);

        :focus {
            background: none;
            border: none;
            border-radius: 0;
            color: rgba(255, 255, 255, .5);
            border-bottom: 1px solid #1b6ec2;
            box-shadow: none;
        }
    }
}


/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #343d45;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.active-calendars {
    max-height: 200px;
    overflow-y: auto;
}

.flex-grid {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.flex-col {
    flex: 1;
    display: flex;
    align-items: center;
}

.alert {
    background:none;
}

    .alert.alert-warning .title {
        color: #fff3cd;
    }

    .alert.alert-warning .message {
        color: #c6b78c;
    }

    .alert.alert-warning {
        border-color: #c6b78c;
    }

    .alert.alert-success .title {
        color: #28a745;
    }

    .alert.alert-success .message {
        color: #1f7d35;
    }

    .alert.alert-success {
        border-color: #28a745;
    }

    .alert.alert-danger {
        border-color: #dc3545;
    }

        .alert.alert-danger .title {
            color: #f6606e;
        }

        .alert.alert-danger .message {
            color: #d45d68;
        }

    .alert.alert-info {
        border-color: #17a2b8;
    }

        .alert.alert-info .title {
            color: #17a2b8;
        }

        .alert.alert-info .message {
            color: #108193;
        }


.calendar-row {
    border-radius: 3px;
    padding-left: 5px;
}

    .calendar-row:hover {
        background-color: #243342!important
    }


.calendar-row:nth-of-type(odd) {
    background-color: #242d36;
}

    .active-calendars .calendar-item {
        color: #bbb;
        font-size: .8rem;
    }

        .active-calendars .table-dark.table-striped tbody tr:nth-of-type(odd) {
            background-color: #46525e;
        }

.component {
    background-color: #46525e;
    padding: 20px;
    box-shadow: 0px 0px 25px rgba(0,0,0,.15);
    border-radius: 3px;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1;
    position: relative;
    background-color: #38424b;
}

    .main .top-row {
        background-color: rgba(0,0,0,.1);
        border-bottom: 1px solid #d6d5d5;
        justify-content: flex-end;
    }

        .main .top-row > a, .main .top-row .btn-link {
            white-space: nowrap;
            margin-left: 1.5rem;
        }

.main .top-row a:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
}

.sidebar {
}

    .sidebar .top-row {
        background-color: rgba(0,0,0,0.2);
    }

    .sidebar .navbar-brand {
        font-size: 1.1rem;
    }

    .sidebar .oi {
        width: 2rem;
        font-size: 1.1rem;
        vertical-align: text-top;
        top: -2px;
    }

    .sidebar .nav-item {
        font-size: 0.9rem;
        padding-bottom: 0.5rem;
    }

        .sidebar .nav-item:first-of-type {
            padding-top: 1rem;
        }

        .sidebar .nav-item:last-of-type {
            padding-bottom: 1rem;
        }

        .sidebar .nav-item a {
            color: #d7d7d7;
            border-radius: 4px;
            height: 3rem;
            display: flex;
            align-items: center;
            line-height: 3rem;
        }

            .sidebar .nav-item a.active {
                background-color: rgba(255,255,255,0.25);
                color: white;
            }

            .sidebar .nav-item a:hover {
                background-color: rgba(255,255,255,0.1);
                color: white;
            }

.content {
    padding-top: 1.1rem;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

.loading {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: rgba(255, 255, 255, .8);
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

    .lds-ellipsis div {
        position: absolute;
        top: 33px;
        width: 13px;
        height: 13px;
        border-radius: 50%;
        background: rgba(0,0,0,0.5);
        animation-timing-function: cubic-bezier(0, 1, 1, 0);
    }

        .lds-ellipsis div:nth-child(1) {
            left: 8px;
            animation: lds-ellipsis1 0.6s infinite;
        }

        .lds-ellipsis div:nth-child(2) {
            left: 8px;
            animation: lds-ellipsis2 0.6s infinite;
        }

        .lds-ellipsis div:nth-child(3) {
            left: 32px;
            animation: lds-ellipsis2 0.6s infinite;
        }

        .lds-ellipsis div:nth-child(4) {
            left: 56px;
            animation: lds-ellipsis3 0.6s infinite;
        }

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(24px, 0);
    }
}


@media (max-width: 767.98px) {
    .main .top-row:not(.auth) {
        display: none;
    }

    .main .top-row.auth {
        justify-content: space-between;
    }

    .main .top-row a, .main .top-row .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 768px) {
    app {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .main .top-row {
        position: sticky;
        top: 0;
    }

    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }

    .navbar-toggler {
        display: none;
    }

    .sidebar .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
